[user]
	name = remotefileinclude
	email = rfi@remotefileinclude.net
[github]
	user = remotefileinclude.net
[core]
	editor = vim

[alias]
    plog = log -20 --abbrev-commit   --oneline --pretty=format:'%C(yellow)%h%Creset %C(white)%cr%Creset %C(red)%d%Creset %C(cyan)%s%Creset'
